<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
  <title>Coolspecs</title>
</head>
<body>
<section class="color-1" id="land">
  <div class="navbar">
    <ul class="nav-menu">
      <li class="nav-items"><a href="#glasses">Glasses</a></li>
      <li class="nav-items"><a href="">About</a></li>
      <li class="nav-items"><a href="">Contact</a></li>
    </ul>
    <div class="logo-container">
      <img src="../assets/images/logo.svg" class="logo">
    </div>
    <div class="nav-social">
      <li class="social-media"><a href=""><i class="fab fa-facebook-f"></i></a></li>
      <li class="social-media"><a href=""><i class="fab fa-instagram"></i></a></li>
      <li class="social-media"><a href=""><i class="fab fa-twitter"></i></a></li>
    </div>
  </div>
  <div class="home-body">
<h1 class="heading">Exceptionl <br> Build Quality
  <div class="center-container">
    <h1 id ="home-bghead"><span>P</span>RE<span>M</span>IU<span>M</span></h1>
    <img src="../assets/images/home-page.svg" alt="" class="home-img">
  </div>
  <p class="counting">01/5</p>
  <p class="home-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, nulla nostrum. Magni hic ipsam delectus sequi ea eligendi iure blanditiis veritatis, incidunt, non molestias laudantium error modi accusamus fugit ad?</p>
</h1>
  </div>
  <div class="home-ftr">
    <hr>
    <button class="home-btn">GET YOURS</button>
  </div>

  <ul class="color-selection">
   
    <li class="color-box" id="blue" (mouseenter)="blueIn()" (mouseout)="blueOut()" ></li>
    <li class="color-box" id="pink" (mouseenter)="pinkIn()" (mouseout)="pinkOut()" ></li>
    <li class="color-box" id="green" (mouseenter)="greenIn()" (mouseout)="greenOut()" ></li>
    <li class="color-box" id="yellow" (mouseenter)="yellowIn()" (mouseout)="yellowOut()" ></li>
  </ul>
  </section>
  <app-products id="glasses"></app-products>
</body>
</html>